<div class="header">
	<h1>Welcome to Bike Berlin</h1>
</div>

<h2>Your source for used bikes in Berlin</h2>

<div class="col-md-6">
	<a href="/products"><%= image_tag("bike.jpg", class: "img-responsive my-image") %></a>
	<h3><%= link_to "Regular Bikes", "/products" %></h3>
</div>
<div class="col-md-6">
	<%= image_tag("racebike.jpg", class: "img-responsive my-image") %>
	<h3>Motor Bikes(Coming Soon)</h3>
</div>
