<div class="header">
	<h1 class="text-primary">Philly's Bike Shop</h1>
</div>

<h2>Need a used bike or motorbike? We got them here!</h2>

<div class="col-md-6">
	<a href="/products"><%= image_tag("bike.jpg", class: "img-responsive my-image") %></a>
	<h3>Regular Bikes</h3>
</div>
<div class="col-md-6">
	<%= image_tag("racebike.jpg", class: "img-responsive my-image") %>
	<h3>Motor Bikes(Coming Soon)</h3>
</div>
