<div class="panel panel-default">
	<div class="panel-body">
		<p>Thank you for your interest in Bike Berlin. You will get a reply back from us in 5-10 business days</p>
		<%= image_tag("send-mail.jpg", class: "img-responsive") %>
		<%= link_to "Go back to contact page", "contact" %>
	</div>
</div>