<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>New Message</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<body style="margin: 0; padding: 0;">
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
	  <tbody>
	    <tr>
	      <td align="center" bgcolor="#FFF000" style="padding: 40px 0 30px 0;">
	      <h2 align="center">You got a message!</h2>
	      <img src="http://4.bp.blogspot.com/-O6R2nGrh53w/VG7v0IRU3HI/AAAAAAAAEDM/4CbUzZmLwTI/s1600/E-mail_open-512.png" alt="mail is sent" width="300" height="230" style="display: block;"	/>
	      </td>
	    </tr>
	    <tr>
	      <td align="center" bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
	      	<p><%= @message %></p>
	      </td>
	    </tr>
	    <tr>
    		<td bgcolor="#70bbd9" style="padding: 30px 30px 30px 30px;">
    			<table border="0" cellpadding="0" cellspacing="0" width="100%">
					 <tr>
					  <td>
					   &copy; Bike Berlin 2016
					  </td>
					  <td>
					   This was sent from your website.
					  </td>
					 </tr>
					</table>
				</td>
    	</tr>
	  </tbody>
		</table>
	</body>
</head>
</html>