// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	padding-top: 50px;
}

h1 {
	font-family: futura, arial, serif;
	color: #F00;
	text-align: center;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}


.site-footer, .push {
	height: 4em;
}

.site-footer {
	color: white;
	background: blue;
}

.carousel-caption {
	position: relative;
	bottom: 130px;
	left: 25%;
	color: black;
	font-size: 2em;
}

.carousel-indicators {
	background: black;
}

.image {
	width: 50%;
	height: 30%;
}

.btn {
	color: black;
}